
:root{

    --navy: #5C8692;
    --light-navy: #7A9CA5;
    --dark: #141414;
    --white: #fff;
    --red: #d22222;
}

.card{
    margin-top: 30px;
}
.card .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: none;
    margin-bottom: 0px;
}

.desc{
   width: 350px;
}

.paragraphe{
    font-family: 'Playfair', sans-serif;
    font-size: 10px;
    width: 200px;
    
}

.firstHeader{

    font-size: 20px;
    font-weight: bold;
    width: 200px;

}

.reservationbtn{
    background-color: var(--navy);
    border: 5px;
    text-align: center;
    color: var(--white);
    padding: 10px;
    width: 160px;
}

.reservationbtn:hover{
    background-color: var(--red);
    color: var(--white);
}

@media (min-width: 992px) {
    .card{
        margin-top: 0x;
    }
    .paragraphe {
      font-size: 20px;
      width: 520px;
    }
    .firstHeader{
        font-size: 50px;
        font-weight: bold;
        width: 400px;
    }

    .reservationbtn{
        background-color: var(--navy);
        border: 5px;
        text-align: center;
        color: var(--white);
        padding: 10px;
        width: 180px;
    }
    
    .reservationbtn:hover{
        background-color: var(--red);
        color: var(--white);
    }
  }
