*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair' sans-serif;
}

.phone{
    color: #5C8692 ;
}

.reservation{
    background-color: #7A9CA5 ;
    border: 5px;
    text-align: center;
    color: #fff;
    padding: 7px;
    width: 150px;
}

.reservation:hover{
    background-color: #d22222;
    color: #fff ;
}